section{
  margin-bottom: 4rem;
}
.section-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 30px;
}
.lines::before, .lines::after {
  content: '';
  position: relative;
  display: inline-block;
  width: 30px;
  height: 1px;
  top: -7px;
  background-color: #ea1d5e;
}
.lines::before{
  margin-right: 10px;
}
.lines::after{
  margin-left: 10px;
}
p{
  line-height: 27px;
}
textarea,button{
  margin-top: 1rem;
}
