<div class="row">
  <div class="col-md-3">
    <p>Followers Range</p>
    <select class="form-select" [(ngModel)]="starFilter.followers" (change)="changeItem()">
      <option value="">Any</option>
      <option value="0">under 100</option>
      <option value="100">100 - 999</option>
      <option value="1000">1000 - 9999</option>
      <option value="10000">10000 - 99999</option>
      <option value="100000">100000+</option>
    </select>
  </div>
  <div class="col-md-3">
    <p>Upload Range</p>
    <select class="form-select" [(ngModel)]="starFilter.uploads" (change)="changeItem()">
      <option value="">Any</option>
      <option value="0">under 10</option>
      <option value="10">10 - 49</option>
      <option value="50">50 - 99</option>
      <option value="100">100 - 499</option>
      <option value="500">500 - 999</option>
      <option value="1000">1000+</option>
    </select>
  </div>
</div>
