<button routerLink="hiring" mat-fab color="default" class="fixed-button" [matBadge]="count" matBadgeColor="accent" title="Hire List">
  <mat-icon>description</mat-icon>
</button>


<footer class="site-footer">
  <div class="container">
      <div class="soc-icons-wrap">
          <a href="#" class="soc-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="soc-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="soc-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="soc-icon"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
      </div>
      <p class="copyright">&#169; 2018 Devon</p>
  </div>
</footer>
