<div class="row">
  <div class="col-md-2">
    <p>Gender</p>
    <select class="form-select" [(ngModel)]="talentFilter.gender" (change)="changeItem()">
      <option value="">Any</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    </select>
  </div>
  <div class="col-md-2">
    <p>Body Type</p>
    <select class="form-select" [(ngModel)]="talentFilter.body" (change)="changeItem()">
      <option value="">Any</option>
      <option *ngFor="let enum of iterateEnum(BodyTypeEnum)" [value]="enum">
        {{enum}}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <p>Ethnicity Type</p>
    <select class="form-select" [(ngModel)]="talentFilter.ethnicity" (change)="changeItem()">
      <option value="">Any</option>
      <option *ngFor="let enum of iterateEnum(EthnicityTypeEnum)" [value]="enum">
        {{enum}}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <p>Hair Color</p>
    <select class="form-select" [(ngModel)]="talentFilter.hair" (change)="changeItem()">
      <option value="">Any</option>
      <option *ngFor="let enum of iterateEnum(ColorTypeEnum)" [value]="enum">
        {{enum}}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <p>Eye Color</p>
    <select class="form-select" [(ngModel)]="talentFilter.eye" (change)="changeItem()">
      <option value="">Any</option>
      <option *ngFor="let enum of iterateEnum(ColorTypeEnum)" [value]="enum">
        {{enum}}
      </option>
    </select>
  </div>
  <div class="col-md-2">
    <p>Age Range</p>
    <select class="form-select" [(ngModel)]="talentFilter.age" (change)="changeItem()">
      <option value="">Any</option>
      <option value="0">under 18</option>
      <option value="18">18 - 29</option>
      <option value="30">30 - 44</option>
      <option value="45">45 - 59</option>
      <option value="60">60+</option>
    </select>
  </div>
</div>
